* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 72px;
    background: #000;
    position: sticky;
    z-index: 100;
    top: 0;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.menu {
    display: inline-block;
    vertical-align: middle;
}

.menu ul {
    list-style: none;
    vertical-align: middle;
}

.menu li {
    display: inline;
}

.menu li:last-child a {
    margin-right: 0;
}

.menu ul a {
    display: inline-block;
    font-family: 'Open Sans';
    margin-right: 46px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.69);
    text-decoration: none;
}

.logo {
    width: 79px;
    height: 27px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
}
.grey-huyna {
    height: 641px; 
    background-color: #9a9a9a;
}
.grey-huyna .wrapper {
    display: flex;
    justify-content: space-between;
}
.grey-huyna .left {
    display: inline-block;
    float: left;
    width: 517px;
    margin-top: 110px;
    height: 392px;
}
.grey-huyna .right {
    float: right;
    width: 363px;
    height: 362px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 140px;
}
.grey-huyna .head-text-left {
    display: inline-block;
    margin-top: 33px;
    font-family: 'Raleway';
    font-size: 36px;
    text-align: left;
    color: #ffffff;
}
.grey-huyna .line,
.stylish .line {
    border-bottom: 2px solid #ffffff;
    width: 64px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.grey-huyna .head-text-left-small,
.stylish p {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}
.grey-btn,
.stylish input[type=submit] {
    margin-top: 44px;
    height: 42px;
    width: 135px;
    background-color: #9a9a9a;
    border: 2px solid #f5f5f5;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
}
.try {
    height: 54px;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height: 54px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.try span {
    color: #ff8b38;
}
.signup {
    display: inline-block;
    height: 308px;
    width: 363px;
    text-align: center;
}
.signup input[type=text] {
    width: 285px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 30px;
    padding-left: 14px;
}
.signup input[type=password] {
    width: 285px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 48px;
    padding-left: 14px;
}
.signup input[type=submit] {
    height: 54px;
    background-color: #ff9b51;
    border:0;
    border-radius: 0 0 5px 5px;
    width: 363px;
    margin-top: 50px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}
.social-media {
    position: relative;
    z-index: 10;
    height: 105px;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.38);
}
.social-media .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
}
.social-media .social-left {
    width: 365px;
    float: left;
}
.social-media .social-left h2 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.social-media .social-left p {
    font-family: 'Open Sans';
    
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #86878b;
}
.social-media .social-links {
    float: right;
    margin-right: 19px;
    height: 46px;
    width: 634px;
    background: url("img/SMI.png") no-repeat 0 0;
}
.social-links .social {
    display: inline-block;
    width: 90px;
    height: 46px;
    margin-right: 0px;
    vertical-align: middle;
}
.social-links .social-fb {
    width: 50px;
    margin-right: 20px;
}
.social-links .social-tw {
    width: 70px;
    margin-right: 30px;
}
.social-links .social-g {
    width: 70px;
    margin-right: 20px;
}
.social-links .social-p {
    width: 60px;
    margin-right: 35px;
}
.social-links .social-in {
    width: 60px;
    margin-right: 40px;
}
.social-links .social-huy {
    width: 65px;
    margin-right: 40px;
}
.social-links .social-rss {
    width: 50px;
}
.tabs {
    height: 595px;
    background-color: #f5f5f5;
}
.tabs .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 595px;
}
.tabs .buttons {
    width: 112px;
    float: left;
}
.tabs .buttons li{
    display: block;
    list-style: none;
    height: 112px;
    margin-bottom: 1px;
    width: 112px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
    text-align: center;
    line-height: 112px;
}
.tabs .tab-active {
    background-color: #ff8b38;
    border-radius: 3px 3px 0 0;
}
.tabs .tab:last-child {
    border-radius: 0 0 3px 3px;
}
.tabs .tab {
    background-color: #333333;
}
.tabs .tabs-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    height: 302px;
    width: 480px;
}
.tabs-info h2{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.tabs-info p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #86878b;
}
.tab-active-btn {
    width: 121px;
    height: 46px;
    background-color: #ff8b38;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    color: #ffffff;
}
.sub-list .wrapper {
    display: flex;
    align-items: center;
    height: 596px;
}
.insert {
    float: left;
    height: 303px;
    width: 453px;
    background-color: #9a9a9a;
    margin-right: 194px;
    box-shadow: 0px 7px 43px 0px #858585;
}
.insert,
.insert-right {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 33px;
    line-height: 303px;
    left: 10%;
    color: rgba(255, 255, 255, 0.22);
}
.disc {
    width: 430px;
}
.disc .box {
    height: 133px;
    margin-bottom: 46px;
}
.box>h2,
.picsec h2,
.why .column h2 {
    height: 30px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    line-height: 2.15;
    color: #212121;
    margin-bottom: 29px;
}
.box .line,
.picsec .line,
.title-why .line,
.title-price .line,
.reviews .line,
.title-cont .line {
    border-bottom: 2px solid #ff8b38;
    width: 64px;
    margin-bottom: 30px;
}
.box>p,
.stan p,
.sub-list .title p,
.why .column p,
.title-why p,
.title-price p,
.reviews .title p,
.title-cont p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #86878b;
}
.sub-list .title h2 {
    font-family: 'Open Sans';
    margin-left: 71px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    color: #212121;
    margin-bottom: 12px;
}
.titlemar {
    margin-bottom: 42px;
    height: 56px;
}
.sub-list .title img {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 0px solid white;
}
.sub-list .title p {
    margin-left: 71px;
    width: 363px;
}
.picsec .wrapper {
    display: flex;
    align-items: center;
    height: 524px;
}
.picsec {
    height: 524px;
    background-color: #f5f5f5;
}
.stan {
    width: 473px;
    float: left;
    margin-right: 197px;
}
.insert-right {
    float: right;
    height: 303px;
    width: 453px;
    background-color: #9a9a9a;
    box-shadow: 0px 7px 43px 0px #858585;
}
.why {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 592px;
}
.title-why {
    text-align: center;
    display: block;
    margin-bottom: 80px;
}
.title-why h1,
.title-price h1,
.reviews .title h1,
.title-cont h1{
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
    margin-bottom: 30px;
}
.title-why .line {
    display: inline-block;
}
.why .column {
    display: inline-block;
    width: 352px;
    height: 197px;
    margin-right: 32px;
}
.why .column:last-child {
    margin-right: 0px;
}
.why .column p,
.title-why p,
.title-price p,
.reviews .title p {
    text-align: center;
}
.why .column h2 {
    line-height: 2.15;
    text-align: center;
    color: #212121;
}
.why .column img {
    margin-left: 140px;
    height: 70px;
    width: 70px;
}
.price {
    height: 883px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}
.title-price {
    text-align: center;
}
.title-price .line {
    display: inline-block;
}
.title-price p {
    margin-bottom: 80px;
}
.size li {
    list-style: none;
    text-align: center;
}
.price .size {
    display: inline-block;
    width: 343px;
    margin-right: 40px;
}
.price .column-price li,
.price .column-price2 li {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #86878b;
    background-color: white;
}
.price .column-price .p3{
    border-bottom: 5px solid #ff8b38;
}
.price .size .p1 {
    height: 59px;
    background-color: #333333;
    border-bottom: 1px solid white;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    line-height: 59px;
    text-align: center;
    color: #ffffff;
}
.price .size .p2 {
    height: 100px;
    background-color: #333333;
    font-family: 'Raleway';
    font-size: 94px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
}
.price sub {
    position: relative;
    top: -20px;
    left: -5px;
    font-size: 35px;
  line-height: 0.26;
}
.price .size .p3 {
    height: 55px;
    background-color: #333333;
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.price .size li:nth-child(n+4){
    height: 40px;
    margin: 1px 0;
    line-height: 40px;
}
.price .column-price2 li:nth-child(4) {
    background-color: #ff8b38;
    margin-top: 0px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
}
.price .size:last-child {
    margin-right: 0px;
}
.reviews {
    height: 591px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews .title {
    text-align: center;
}
.reviews .title .line {
    display: inline-block;
}
.reviews .column {
    display: inline-block;
    width: 275px;
    margin-right: 120px;
}
.reviews .column:last-child {
     margin-right: 0px;
}
.reviews .ava {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #9a9a9a;
    border-radius: 50%;
}
.reviews .person .name {
    padding-top: 10px;
    margin-left: 85px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #333333;
}
.reviews .person span,
.reviews .comment {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #86878b;
}
.reviews .title p {
    margin-bottom: 55px;
}
.reviews .comment {
    background-color: #f5f5f5;
    position: relative;
    padding: 24px 13px 36px 12px;
    height: 147px;
    margin-bottom: 23px;
    border-radius: 3px;
    font-style: italic;
}
.reviews .comment:before {
    content: "";
    position: absolute;
    top: 147px;
    left: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #f5f5f5 transparent transparent transparent;
}
.stylish {
    height: 320px;
    display: flex;
    justify-content: space-between;
    background-color: #9a9a9a;
    text-align: center;
}
.stylish .head-text-left {
    display: inline-block;
    margin-top: 74px;
    font-family: 'Raleway';
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}
.stylish .line {
    text-align: center;
    margin: 26px 0 23px 337px;
}
.stylish p {
    margin-bottom: 33px;
}
.stylish .grey-btn {
    margin: 0;
    margin-bottom: 15px;
}
.stylish .ins {
    font-family: 'Open Sans';
    font-size: 16.5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.22);
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 612px;
    position: relative;
}
.contact p {
    text-align: center;
    margin-bottom: 80px;
}
.contact .names {
    display: inline-block;
    height: 150px;
    width: 526px;
    float: left;
}
.title-cont .line{
    display: inline-block;
}
.contact form {
    display: flex;
    height: 150px;
    width: 1026px;
    text-align: center;
}
.contact input[type=text] {
    width: 527px;
    height: 31px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 14px;
    margin-bottom: 30px;
}
.names-mess {
    margin-top: 3px;
    margin-left: 67px;
    float: right;
}
.contact input[name="mess"]{
    width: 526px;
    height: 150px;
    padding-right: 50px;
    padding-bottom: 125px;
    margin-bottom: 0;
}

.contact input[type=submit] {
    width: 148px;
    height: 46px;
    background-color: #ff9b51;
    border:0;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 512px;
}
.footer {
    height: 83px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer p {
    font-family: 'Open Sans';
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.footer .wrapper {

}
.footer .social-links {
    display: flex;
    height: 23px;
    width: 317px;
    background: url("img/footer.png") no-repeat 0 0;
    margin-bottom: 15px;
    margin-top: 10px;
}
.footer .social-links .social {
    width: 30px;
    height: 23px;
    margin-right: 0px;
}
.footer .social-links .social-fb {
    width: 50px;
    margin-right: 25px;
}
.footer .social-links .social-tw {
    width: 85px;
    margin-right: 30px;
}
.footer .social-links .social-g {
    width: 75px;
    margin-right: 23px;
}
.footer .social-links .social-p {
    width: 70px;
    margin-right: 28px;
}
.footer .social-links .social-in {
    width: 70px;
    margin-right: 30px;
}
.footer .social-links .social-huy {
    width: 90px;
    margin-right: 25px;
}
.footer .social-links .social-rss {
    width: 70px;
}
